body {
    background-color: black;
}
.container{
    border: 5px ridge black;
}
hr{
    border-color: red;
}
div {
    margin: auto;
    width: 80%;
    padding: 10px;
    text-align: center;
    background-color: gray;

}

h1 {
    margin: auto;
        width: 95%;
        padding: 10px;
        text-align: center;
        background-color: gray;
        color: black;
        text-shadow: 1px 1px 5px rgb(64, 76, 66);
        font-size: 72px;
        vertical-align: center;
        line-height: 80px;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}
.colorSwatch{
    display: inline-block;
    width: 50px;
    height: 50px;
}